<top-bar
  on-url-loading ="urlLoading()"
  auth="auth"
  on-login="login()"
  on-logout="logout()"
  on-share-page="share()"
  on-show-help-panel="helpPanel.visible = true"
  is-sidebar="::isSidebar"
  pending-update-count="countPendingUpdates()"
  on-apply-pending-updates="applyPendingUpdates()"
  search-controller="search"
  sort-key="sortKey()"
  selected-url-filter-key="selectedUrlFilterKey()"
  sort-keys-available="sortKeysAvailable()"
  on-change-sort-key="setSortKey(sortKey)"
  names="names"
  on-shared-stream="isSharedStream"
  selected-sort="selectedSort"
  sort-by="sortBy()"
  set-url-filter-key-text = "setUrlFilterKeyText()"
  set-url-filter-key-all = "setUrlFilterKeyAll()"
  set-url-filter-key-video = "setUrlFilterKeyVideo()"
  set-url-filter-key-audio = "setUrlFilterKeyAudio()"
  toggle-left-nav="toggleLeftNav()"
  left-nav-visible="leftNavVisible">
</top-bar>



<div class="create-account-banner" ng-if="isSidebar && auth.status === 'logged-out'" ng-cloak>
  To annotate this document
  <!--
  <a href="{{ serviceUrl('signup') }}" target="_blank">
    Please log in
  </a
  -->
  <a href="" ng-click="login()">log in</a>
</div>

<button class="primary-action-btn" ng-click="toggleLeftNav()" style="position: fixed; left: 0; top: 0;" ng-disabled="urlLoading()">Nav Drawer</button>

<div class="body-wrapper">
  <nav class="sidebar col-md-2" ng-show=leftNavVisible ng-disabled="urlLoading()">
    <ul style="margin-bottom: 0px">
      <li>
        <a class="sidebar__nav-label" ng-href="{{urlLoading() ? '' : '/renote'}}" ng-click="toggleSharedStream(false)" ng-class="{sidebar__active: !isSharedStream && !urlLoading()}" title="Your Personal Notes">
        <i class="h-icon-user2"></i> My ReNotes
        </a>
      </li>
      <li><a class="sidebar__nav-label" ng-href="{{urlLoading() ? '' : '/shared'}}" ng-click="toggleSharedStream(true)" ng-class="{sidebar__active: isSharedStream && !urlLoading()}" title="Received Notes">
      <i class="h-icon-users2"></i> Shared With Me {{sharedUpdates}} {{hasSharingUpdates}}</a> <span class="badge" ng-if="ifShared()">{{numberShared()}}</span></li>      
    </ul>

    <!-- INSERT the code for Stacks here -->
    <!-- <ul ng-if="auth.status === 'logged-in'">
      <li class="sidebar__nav-label">Knowledge Stacks</li>
      <li class="sidebar__nav-label">Stack 1</li>
    </ul> -->
    <k-stack-list ng-if="auth.status === 'logged-in' && !isSharedStream">
    
    </k-stack-list>

  </nav>


  <div class="col-md-7 col-md-offset-3">

    <login-form
      ng-if="accountDialog.visible"
      on-close="accountDialog.visible = false">
    </login-form>
    <sidebar-tutorial ng-if="isSidebar"></sidebar-tutorial>
    <share-dialog
      ng-if="shareDialog.visible"
      on-close="shareDialog.visible = false">
    </share-dialog>
    <help-panel ng-if="helpPanel.visible"
      on-close="helpPanel.visible = false"
      auth="auth">
    </help-panel>
    <main ng-view=""></main>
  </div>
</div>
