<top-bar
  auth="auth"
  on-login="login()"
  on-logout="logout()"
  on-share-page="share()"
  on-show-help-panel="helpPanel.visible = true"
  is-sidebar="::isSidebar"
  pending-update-count="countPendingUpdates()"
  on-apply-pending-updates="applyPendingUpdates()"
  search-controller="search"
  sort-key="sortKey()"
  sort-keys-available="sortKeysAvailable()"
  sidebar-search-controller="sidebarSearch"
  get-main-tab="getMainTab()"
  on-change-sort-key="setSortKey(sortKey)">
</top-bar>
<button type="button" class="btn btn-default" ng-click="switchUpperTabs()">Switch View</button>
<div class="create-account-banner" ng-if="isSidebar && auth.status === 'logged-out'" ng-cloak>
  <a href="" ng-click="login()">Log In</a>
   to create Highlights, Annotations, Snips and Clips
  <!--
  <a href="{{ serviceUrl('signup') }}" target="_blank">
    Please log in
  </a>
  -->
</div>

<div class="content" ng-cloak>
  <login-form
    ng-if="accountDialog.visible"
    on-close="accountDialog.visible = false">
  </login-form>
</div>

<div class="sheet" ng-if="isSidebar && auth.status === 'logged-out'" ng-cloak>
  <h1 class="sidebar-tutorial__header">How to get started</h1>
  <ol class="sidebar-tutorial__list">
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create a highlight, select text and click the
        <i class="h-icon-highlight" style="color: #0b3390"></i>&nbsp;button on the popup.
      </p>
    </li>

    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create an annotation, select text and click the
        <i class="h-icon-annotate" style="color: #0b3390"></i>&nbsp;button on the popup.
      </p>
    </li>

    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create a Video Snippet click the
        <i class="h-icon-media-record" style="background-color: #0b3390; color: red"></i>&nbsp;button in the Sidebar margin.
        Add your notes to the Snippet and click Save.
        Wherever Video Snippets are supported the <i class="h-icon-media-record" style="background-color: #0b3390; color:#969696"></i>&nbsp;button will turn Red <i class="h-icon-media-record" style="background-color: #0b3390; color: red"></i>
      </p>
    </li>

    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create an Audio Clip click the
        <i class="h-icon-media-record" style="background-color: #0b3390; color:red"></i>&nbsp;button in the Sidebar margin.
        Add your notes to the Clip and click Save.
        Wherever Audio Clips are supported the <i class="h-icon-media-record" style="background-color: #0b3390; color:#969696"></i>&nbsp;button will turn Red <i class="h-icon-media-record" style="background-color: #0b3390; color: red"></i>
      </p>
    </li>    
 </ol>
</div>


<div class="content" ng-cloak>
  <sidebar-tutorial ng-if="isSidebar"></sidebar-tutorial>
  <share-dialog
    ng-if="shareDialog.visible"
    on-close="shareDialog.visible = false">
  </share-dialog>
  <help-panel ng-if="helpPanel.visible"
    on-close="helpPanel.visible = false"
    auth="auth">
  </help-panel>
  <main ng-view=""></main>
</div>
