<top-bar
  on-url-loading ="urlLoading()"
  auth="auth"
  on-login="login()"
  on-logout="logout()"
  on-share-page="share()"
  on-show-help-panel="helpPanel.visible = true"
  is-sidebar="::isSidebar"
  pending-update-count="countPendingUpdates()"
  on-apply-pending-updates="applyPendingUpdates()"
  search-controller="search"
  sort-key="sortKey()"
  selected-url-filter-key="selectedUrlFilterKey()"
  sort-keys-available="sortKeysAvailable()"
  on-change-sort-key="setSortKey(sortKey)"
  names="names"
  on-shared-stream="isSharedStream"
  selected-sort="selectedSort"
  sort-by="sortBy()"
  set-url-filter-key-text = "setUrlFilterKeyText()"
  set-url-filter-key-all = "setUrlFilterKeyAll()"
  set-url-filter-key-video = "setUrlFilterKeyVideo()"
  set-url-filter-key-audio = "setUrlFilterKeyAudio()"
  toggle-left-nav="toggleLeftNav()"
  left-nav-visible="leftNavVisible"
  ng-class="{'focus_element': introItem}">
</top-bar>

<!-- The Modal -->


<div class="create-account-banner" ng-if="isSidebar && auth.status === 'logged-out'" ng-cloak>
  To annotate this document
  <!--
  <a href="{{ serviceUrl('signup') }}" target="_blank">
    Please log in
  </a
  -->
  <a href="" ng-click="login()">log in</a>
</div>

<button class="primary-action-btn" ng-click="toggleLeftNav()" style="position: fixed; left: 0; top: 0;" ng-disabled="urlLoading()">Nav Drawer</button>

<div id="myModal" class="modal" ng-if="auth.status === 'logged-in' && showIntro()">
  <div style="position: fixed">
    <div class="intro_content">
      <span class="close">
      <button class="primary-action-btn primary-action-btn--short" ng-click=dcrIntroCount() ng-show="currentIntroItem > 1">Prev</button>
      <button class="primary-action-btn primary-action-btn--short" ng-click=incrIntroCount()>Next</button>
      <button class="primary-action-btn primary-action-btn--short" ng-click=skipIntro()>Skip</button>
      </span>
      <strong>GETTING STARTED GUIDE</strong>&nbsp;&nbsp;&nbsp;&nbsp; Step {{currentIntroItem}} of {{totalIntroItems}}
    </div>

    <div class="intro_content" ng-show="currentIntroItem == 1">
      <p>    
      <span class="badge">1</span>&nbsp;&nbsp;
      <strong>Learn to Highlight & Annotate Text</strong> 
      </p>      
      <p>
        Once you have installed the ReNoted plugin, simply select any text on any website.
      </p>
      <p>
        Two icons will pop-up. First is to simply HIGHLIGHT the text and Second is to add your comment (also called ANNOTATION) on it. 
      </p>
      <p>
        Highlights are automatically saved, but you need to click on Save button to save annotations in your repository.
      </p>
      <p>
        While writing your comment, you can also add a Tag to it for better organisation & retrieval.
      </p>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0YVtMzhORC0?ecver=1" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="intro_content" ng-show="currentIntroItem == 2">
      <p>    
      <span class="badge">2</span>&nbsp;&nbsp;
      <strong>Create Stacks</strong> 
      </p>      
      <p>
        Stacks are like folders. Use them to hold your notes on a project or a topic.
      </p>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jMYDVcmCHtE?ecver=1" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="intro_content" ng-show="currentIntroItem == 3">
      <p>    
      <span class="badge">3</span>&nbsp;&nbsp;
      <strong>Understand the Cards</strong> 
      </p>      
      <p>
        Each Card groups together all the notes from a page. By default, the card shows only 1 note.
      </p>
      <p>
        Use the <i class="h-icon-circle-down btn-icon"></i> icon  to expand the card to show all the annotations from the page. <br>
        And use the <i class="h-icon-circle-up btn-icon"></i> icon to collapse the card to default view.
      </p>
      <p>
        Expanding the card also makes some other properties visible such as the create date, <br> the update date and the stack the card belongs to, if any. <br> You can easily assign a Stack <i class="h-icon-stack"></i> to the card by selecting from the list in the drop down.
      </p>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pOWM_QWOTVA?ecver=1" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="intro_content" ng-show="currentIntroItem == 4">
      <p>    
      <span class="badge">4</span>&nbsp;&nbsp;
      <strong>ReNotes actions</strong> 
      </p>      
      <p>
        ReNotes stands for highlights, annotations, and multimedia clip notes.
      </p>
      <p>
        A card contains one or more ReNotes. Every ReNote has a <i class="h-icon-dots-three-vertical2 btn-icon "></i> button that contains all <br> the actions that can be performed on a ReNote - Share, Edit, Delete.
      </p>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/03PXXCTOuNw?ecver=1" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="intro_content" ng-show="currentIntroItem == 5">
      <p>    
      <span class="badge">5</span>&nbsp;&nbsp;
      <strong>Search</strong> 
      </p>      
      <p>
        ReNoted supports plain text as well as facetted search. <br>
        You can either type a plain text query or prefix them with "tag:", "type:" to filter the search results.
      </p>
      <p>
        Alternatively, you can use the filter buttons next to the search box to filter the results by type.
      </p>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/T2s7Rh6clqw?ecver=1" frameborder="0" allowfullscreen></iframe>
    </div>  

  </div>
</div>


<div class="body-wrapper">
  <nav class="sidebar col-md-2" ng-show=leftNavVisible ng-disabled="urlLoading()">
    <ul style="margin-bottom: 0px">
      <li>
        <a class="sidebar__nav-label" ng-href="{{urlLoading() ? '' : '/renote'}}" ng-click="toggleSharedStream(false)" ng-class="{sidebar__active: !isSharedStream && !urlLoading()}" title="Your Personal Notes">
        <i class="h-icon-user2"></i> My ReNotes
        </a>
      </li>
      <li><a class="sidebar__nav-label" ng-href="{{urlLoading() ? '' : '/shared'}}" ng-click="toggleSharedStream(true)" ng-class="{sidebar__active: isSharedStream && !urlLoading()}" title="Received Notes">
      <i class="h-icon-users2"></i> Shared With Me {{sharedUpdates}} {{hasSharingUpdates}}</a> <span class="badge" ng-if="ifShared()">{{numberShared()}}</span></li> 
     <li> <a class="sidebar__nav-label" ng-click="setShowTutorials()" title="Getting Started">
       <i class="h-icon-star-full"></i> Getting Started
        </a> 
      </li>    
    </ul>

    <!-- INSERT the code for Stacks here -->
    <!-- <ul ng-if="auth.status === 'logged-in'">
      <li class="sidebar__nav-label">Knowledge Stacks</li>
      <li class="sidebar__nav-label">Stack 1</li>
    </ul> -->
    <k-stack-list ng-if="auth.status === 'logged-in' && !isSharedStream">
    
    </k-stack-list>
    <archived-list ng-if="auth.status === 'logged-in' && !isSharedStream">

    </archived-list>
  </nav>


  <div class="col-md-7 col-md-offset-3">

    <login-form
      ng-if="accountDialog.visible"
      on-close="accountDialog.visible = false">
    </login-form>
    <sidebar-tutorial ng-if="isSidebar"></sidebar-tutorial>
    <share-dialog
      ng-if="shareDialog.visible"
      on-close="shareDialog.visible = false">
    </share-dialog>
    <help-panel ng-if="helpPanel.visible"
      on-close="helpPanel.visible = false"
      auth="auth">
    </help-panel>
    <main ng-view=""></main>
  </div>
</div>
