<ul style="margin-bottom: 0px; border-bottom: 1px solid #d0d0d0; padding-bottom: 5px">
      <li class="sidebar__stack" style="padding-bottom: 2px; font-size: 12px">Knowledge Stacks</li>
      <li class=" sidebar__stack">
      	<button class="primary-action-btn primary-action-btn--short" ng-show="!vm.isCreatingNewStack" ng-click="vm.isCreatingNewStack=true"> Create New Stack </button>

		<span ng-show="vm.isCreatingNewStack">

		    <input type="text" name="stack_name" placeholder="Stack Name" ng-model="vm.kStackName" title="Enter Stack Name" style="width: 100%;height: 30px;padding-left: 5px;">
		    <div style="
            margin-top: 7px;
            margin-left: 50px;
            ">
        	<button class="primary-action-btn primary-action-btn--short"
          		ng-click="vm.setKStackForPageOnSave()"
          		title="Save">Save
        	</button>
	        <button class="btn btn-clean annotation-action-btn"
	          ng-click="vm.isCreatingNewStack=false"
	          title="Cancel">
	          <i class="h-icon-cancel-outline publish-annotation-cancel-btn__icon btn-icon" ></i>
	        </button>
        </div>
		</span>

      </li>
      <!-- Create another directive here to handle all stack level actions --> 
      <li class="sidebar__nav-label sidebar__stack"
      	id="{{stackName}}"
        ng-mouseenter="visible=true"
        ng-mouseleave="visible=false"  
        ng-click="filterByStack(stackName)"      
      	ng-repeat="stackName in vm.kStackList" 
        ng-class="{sidebar__activenew: vm.isStackSelected(stackName)}"
        style="padding-left: 35px"
        title={{stackName}}
        >
          <stack-item
            stack-name="stackName"
            stack-list="vm.kStackList"
            visible="visible"
          >
          </stack-item>          
      </li>

     <li class=" sidebar__stack">
        <button class="primary-action-btn primary-action-btn--short"  ng-click="vm.showTutorials()"> ReNoted Tutorials </button>
     </li>

</ul>
