<section style="margin-top: 14px">
<div class="btn-group top-bar__inner" style="margin-bottom: 7px">
  <div class="btn-group">
    <a href="/renote?q="><button type="button" class="primary-action-btn" style="font-size: 15px">
    All</button></a>
    &nbsp;
  </div>

  <div class="btn-group">
    <a href="/renote?q=type:text"> <button type="button" class="primary-action-btn" style="font-size: 15px">Text</button> </a>
    &nbsp;
  </div>
  <div class="btn-group">
    <a href="/renote?q=type:video"><button type="button" class="primary-action-btn" style="font-size: 15px">
    Video</button>
    </a>
    &nbsp;
  </div>
  <div class="btn-group">
    <a href="/renote?q=type:audio"><button type="button" class="primary-action-btn" style="font-size: 15px">
    Audio</button></a>
    &nbsp;
  </div>
  <div class="top-bar__expander"></div>
  <div class="btn-group" style="justify-content: flex-end;">
  <strong>Sort By:</strong> <select ng-options="option for option in names" 
    ng-model="selectedSort"
    ng-change="sortBy()" style="margin-top: 07px"> {{selectedSort}}</select>
  </div>
</div>
</section>

<ul class="thread-list">
 
   <li id="{{child.id}}"
      class="thread-list__card"
      ng-mouseenter="vm.onFocus({url: child.url})"
      ng-click="vm.onSelect({url: child.url})"
      ng-mouseleave="vm.onFocus({url: null})"
      ng-repeat="child in vm.UrlVirtualThreadList.visibleThreads | limitTo:displayedNumber track by child.id">
      <url ng-class="vm.urlClasses()"
             url="child.url">    </url>
  </li>
</ul>
<button class="more primary-action-btn  btn-block" ng-click="loadMore()">More</button>
