<section style="margin-top: 14px" ng-if="vm.loggedin()">
<div class="btn-group top-bar__inner" style="margin-bottom: 7px; padding-right: 0px">
<!--   <div class="btn-group">
    <a href="/renote?q="><button type="button" class="primary-action-btn" style="font-size: 15px">
    All  </button></a>
    &nbsp;
  </div>

  <div class="btn-group">
    <a href="/renote?q=type:text"> <button type="button" class="primary-action-btn" style="font-size: 15px">Text</button> </a>
    &nbsp;
  </div>
  <div class="btn-group">
    <a href="/renote?q=type:video"><button type="button" class="primary-action-btn" style="font-size: 15px">
    Video</button>
    </a>
    &nbsp;
  </div>
  <div class="btn-group">
    <a href="/renote?q=type:audio"><button type="button" class="primary-action-btn" style="font-size: 15px">
    Audio</button></a>
    &nbsp;
  </div> -->
  <div class="top-bar__expander"></div>
  <div class="btn-group" style="justify-content: flex-end;">
  <strong>Sort By:</strong> <select ng-options="option for option in names" 
    ng-model="selectedSort"
    ng-change="sortBy()" style="margin-top: 07px"> {{vm.selectedSort}}</select>
  </div>
</div>
</section>

<section  style="margin-top: 14px" ng-if="!vm.hasAnnotations()">

  <div class="create-account-banner"  ng-if="!vm.hasAnnotations() && !vm.loggedin()">
    <a href="" ng-click="login()">Log In</a>
     to view your Highlights, Annotations, Snips and Clips
  </div>
  <div class="create-account-banner"  ng-if="!vm.hasAnnotations() && vm.loggedin()">
      No Matching Results Found. Please change your query or follow tutorial. 
  </div>

  <div class="sheet">
  <h1 class="sidebar-tutorial__header">How to get started</h1>
  <ol class="sidebar-tutorial__list">
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        To create highlights, annotations, video snips and audio clips install ReNoted browser extension from the Chrome Playstore
      </p>
    </li>

    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        Once you have created some annotations, login into the ReNoted Web application to view them.
      </p>
    </li>

    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        Each card represents one Web page. The card title can be clicked to navigate to the corresponding Web page.
        By default, only one annotation from the Web page is shown.
      </p>
    </li>

    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        Each card contains one or more annotations, shown by the badge next to the title. To view all the annotations on a page click the expand button <i class="h-icon-circle-down"></i>. Similarly, collapse button <i class="h-icon-circle-up"></i> can be used to collapse the card to default view.
      </p>
    </li>

    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        Annotations inside a card, can be Edited <i class="h-icon-annotation-edit"></i> or Deleted <i class="h-icon-annotation-delete"></i>
      </p>
      <p>
        Use Edit to add, delete or modify Tags and notes in Text annotations. In case of Media annotations, Edit allows you to also modify the Start and End times of the Snips and Clips.
      </p>
    </li>

    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        Use the powerful Search to find annotations with plain text queries or filter by "tag:" and "type:"
      </p>
    </li>   
 </ol>
</div>  
</section>


<ul class="thread-list">
 
   <li id="{{child.id}}"
      class="thread-list__card"
      ng-mouseenter="vm.onFocus({url: child.url})"
      ng-click="vm.onSelect({url: child.url})"
      ng-mouseleave="vm.onFocus({url: null})"
      ng-show="vm.onUrlFilter({url : child.url})"
      ng-repeat="child in vm.UrlVirtualThreadList.visibleThreads | limitTo:displayedNumber track by child.id">
      <url ng-class="vm.urlClasses()"
           url="child.url"
           on-shared-stream="vm.onSharedStream">    
      </url>
  </li>
</ul>
<!-- <div class="btn-group top-bar__inner" style="margin-bottom: 7px; padding-right: 0px">
 <div class="btn-group" style="justify-content: flex-end;">
 -->
  <button class="btn-group primary-action-btn" ng-click="loadMore()" ng-if="vm.loggedin() && vm.hasAnnotations()" title="Click to load more ReNotes">More</button>
<!-- </div>
 </div> -->
