<!-- Tabbed display of annotations and notes. -->
<div class="selection-tabs">
  <a class="selection-tabs__type"
     href="#"
     ng-class="{'is-selected': vm.selectedSharedTab === vm.TAB_OWN_ANNOTATIONS}"
     h-on-touch="vm.selectTab(vm.TAB_OWN_ANNOTATIONS)">
    My ReNotes
    <span class="selection-tabs__count"
      ng-if="vm.totalAnnotations > 0 && !vm.isWaitingToAnchorAnnotations">
      {{ vm.totalOwnAnnotations }}
    </span>
  </a>

  <!-- Removing the Page Notes and Orphans functionality -->
  
  <a class="selection-tabs__type"
     href="#"
     ng-class="{'is-selected': vm.selectedSharedTab === vm.TAB_SHARED_ANNOTATIONS}"
     h-on-touch="vm.selectTab(vm.TAB_SHARED_ANNOTATIONS)">
    Shared With Me
    <span class="selection-tabs__count">
       {{ vm.totalSharedAnnotations }}
    </span>
  </a>
</div>

<div ng-if="!vm.isLoading() && vm.showSharingEventMessage()" class="selection-tabs__empty-message">
<button class="primary-action-btn btn-success" ng-click="vm.onClearSharing()"
          title="New Shared ReNotes" 
  >
    <i class="primary-action-btn__icon h-icon-close"></i> You have <span class="badge"> {{vm.getSharedUpdatesCount()}} </span> unread Shared ReNotes <a class="primary-action-btn__icon1" ng-href="{{vm.onVisitShared()}}" target="_blank"> <i class="h-icon-redirect"></i></a>
  </button>
<br><br>
</div>

<div ng-if="!vm.isLoading() && vm.selectedSharedTab === vm.TAB_OWN_ANNOTATIONS" ng-show="vm.totalOwnAnnotations > 0" style="background-color: #616161;padding-bottom: 10px;margin-bottom: 10px;padding-right: 10px;padding-left: 10px;padding-top: 10px;font-size: 13px; border-radius: 15px">
  <span 
    class="top-bar__inner content" style="padding-left: 0px; padding-right: 0px; margin-bottom: 10px display: block; overflow: hidden;" title="Choose Knowledge Stack">
    <strong><i class="h-icon-stack" ng-hide=loading style="font-size: 15px; color: white"></i> </strong>
    <span class="btn-icon" ng-show=loading ><span class="spinner"></span></span> 
    <div class="top-bar__expander"></div>
      <select placeholder="choose" ng-options="option for option in vm.kStackList" ng-model="vm.kStack" ng-change="vm.setKStackForPage()" style="width: 90%; height: 25px;" title="Choose Knowledge Stack" ng-disabled="loading"></select>

  </span>

  <span ng-show="vm.isCreatingNewStack()"
    class="top-bar__inner content" style="padding-left: 0px;padding-right: 0px;margin-bottom: 7px;display: block;overflow: hidden;margin-top: 10px;margin-left: 35px;"">
    
    <input type="text" name="stack_name" placeholder="Stack Name" style="width: 80%; height: 25px" ng-model="vm.kStackName" title="Enter the Stack Name" ng-disabled="vm.loading">
    <button class= "primary-action-btn primary-action-btn__short" ng-click="vm.setKStackForPageOnSave()" style="
    padding-bottom: 3px;
    padding-top: 2px;
    height: 27px;
    " ng-disabled="loading">Save</button>
  
  </span>

<!--   <span 
    class="top-bar__inner content" style="padding-left: 0px; padding-right: 0px; margin-bottom: 10px; display: block; overflow: hidden;">
    
    <input type="text" name="page_title" placeholder="Add your page title" style="width: 75%; height: 25px" ng-model="vm.pageTitle" ng-disabled="!vm.editTitle" >
    <button class="btn btn-clean annotation-action-btn" ng-show="!vm.editTitle" ng-click="vm.enableTitleEdit()">
      <i class="h-icon-annotation-edit btn-icon "></i>
    </button>
   
    <button class= "primary-action-btn primary-action-btn__short" ng-show="vm.editTitle"  ng-click="vm.setPageTitle()" style="">Save</button>
  
  </span> -->
</div>

<div ng-if="!vm.isLoading()" class="selection-tabs__empty-message">
  <!-- Anshul: Removing the Page Notes and Orphans functionality -->
  <div ng-if="vm.showNotesUnavailableMessage()"  class="annotation-unavailable-message">
    <p class="annotation-unavailable-message__label">
      There are no shared ReNotes on this page.
      <br />
    </p>
  </div>

  <div ng-if="vm.showAnnotationsUnavailableMessage()"  class="annotation-unavailable-message">
    <p class="annotation-unavailable-message__label">
      There are no ReNotes on this page.
    </p>
    <p class="annotation-unavailable-message__label">
      Create highlights and annotations by selecting some text and clicking the <i class="help-icon h-icon-highlight"></i> and
      <i class="help-icon h-icon-annotate"></i> buttons respectively.
    </p>
    <p class="annotation-unavailable-message__label">

      Create video or audio clips by clicking <i class="h-icon-media-record"></i> button in the Sidebar.
    </p>
  </div>
</div>
