<selection-tabs
  ng-if="selectedAnnotationCount() === 0 && mainTab"
  is-waiting-to-anchor-annotations="waitingToAnchorAnnotations"
  is-loading="isLoading"
  selected-tab="selectedTab"
  total-annotations="totalAnnotations"
  total-notes="totalNotes"
  total-orphans="totalOrphans"
  get-main-tab="getMainTab()">
  goto-search-selection="gotoSearchSelection()"
</selection-tabs>

<search-status-bar
  ng-show="!isLoading()"
  ng-if="!isStream"
  filter-active="!!search.query()"
  filter-match-count="visibleCount()"
  on-clear-selection="clearSelection()"
  get-main-tab="getMainTab()"
  switch-main-tab="gotoMainSelection()"
  search-query="search ? search.query : ''"
  selection-count="selectedAnnotationCount()"
  total-count="topLevelThreadCount()"
  selected-tab="selectedTab"
  total-annotations="totalAnnotations"
  total-notes="totalNotes">
</search-status-bar>

<div class="annotation-unavailable-message"
    ng-if="selectedAnnotationUnavailable() && mainTab">
  <div class="annotation-unavailable-message__icon"></div>
  <p class="annotation-unavailable-message__label">
    <span ng-if="auth.status === 'logged-out'">
      This annotation is not available.
      <br>
      You may need to
      <a class="loggedout-message__link" href="" ng-click="login()">log in</a>
      to see it.
    </span>
    <span ng-if="auth.status === 'logged-in'">
      You do not have permission to view this annotation.
    </span>
  </p>
</div>

<span window-scroll="loadMore(20)" ng-if="mainTab">
  <thread-list 
    on-change-collapsed="setCollapsed(id, collapsed)"
    on-clear-selection="clearSelection()"
    on-focus="focus(annotation)"
    on-force-visible="forceVisible(thread)"
    on-select="scrollTo(annotation)"
    show-document-info="::!isSidebar"
    thread="rootThread">
  </thread-list>

</span>
<span ng-if="!mainTab">
<div> 
<ul class="thread-list">

   <li id="{{child.id}}"
      class="thread-list__card"
      ng-repeat="child in sidebarsearchresult.urllist | orderBy: '-relevance': reverse">
      <url url="child">    </url>
  </li>
</ul></div>
</span>




<loggedout-message ng-if="isSidebar && shouldShowLoggedOutMessage()"
  on-login="login()" ng-cloak>
</loggedout-message>
