<!-- top bar for the sidebar and the stream.
!-->
<div class="top-bar" ng-class="frame.visible && 'shown'" ng-cloak ng-if="::!isSidebar">
  <!-- Legacy design for top bar, as used in the stream !-->
  <div class="top-bar__inner" ng-if="::!isSidebar">
    
    <img src="assets/images/logo_white_4x.png" height="32" width="32"/>
    <a href="https://www.renoted.com" style="color: white" class="top-bar__inner">
    <font face="Roboto,Helvetica,Arial,sans-serif" style="font-size: 20px"><strong>ReNoted</strong> </font>
    </a>
    <!-- <div class="top-bar__expander"></div> -->

    <!-- Adding Search filters -->


    <div class="top-bar__expander"></div>




      <search-input 
        class="search-input"
        query="searchController.query()"
        on-search="searchController.update($query)"
        always-expanded="true"
        isnt-sidebar="true">
      </search-input>

    &nbsp;
    <a href="/renote?q=" ng-if="!onSharedStream">
    <button class="top-bar__btn" type="button" style="font-size: 20px" ng-if="!onSharedStream">
    <i class="h-icon-stack"></i></button>
    </a>
    <a href="/shared?q=" ng-if="onSharedStream">
    <button class="top-bar__btn" type="button" style="font-size: 20px" ng-if="onSharedStream">
    <i class="h-icon-stack"></i></button>
    </a>
    &nbsp;
    <a href="/renote?q=type:text" ng-if="!onSharedStream">
    <button class="top-bar__btn" type="button" style="font-size: 20px" ng-if="!onSharedStream">
    <i class="h-icon-file-text" ></i></button>
    </a>
    <a href="/shared?q=type:text" ng-if="onSharedStream">
    <button class="top-bar__btn" type="button" style="font-size: 20px" ng-if="onSharedStream">
    <i class="h-icon-file-text" ></i></button>
    </a>

    &nbsp;
    <a href="/renote?q=type:video" ng-if="!onSharedStream">
    <button class="top-bar__btn" type="button" style="font-size: 20px" ng-if="!onSharedStream">
    <i class="h-icon-youtube" ></i></button>
    </a>
    <a href="/shared?q=type:video" ng-if="onSharedStream">
    <button class="top-bar__btn" type="button" style="font-size: 20px" ng-if="onSharedStream">
    <i class="h-icon-youtube" ></i></button>
    </a>

    &nbsp;
    <a href="/renote?q=type:audio" ng-if="!onSharedStream">
    <button class="top-bar__btn" type="button" style="font-size: 20px" ng-if="!onSharedStream">
    <i class="h-icon-soundcloud2" ></i></button>
    </a>
    <a href="/shared?q=type:audio" ng-if="onSharedStream">
    <button class="top-bar__btn" type="button" style="font-size: 20px" ng-if="onSharedStream">
    <i class="h-icon-soundcloud2" ></i></button>
    </a>


<!--     &nbsp;
    <div class="btn-group" >
      <strong>Sort By:</strong> <select ng-options="option for option in names" 
      ng-model="selectedSort"
      ng-change="sortBy()" style="margin-top: 07px"> {{selectedSort}}</select>
    </div>


    <sort-dropdown
      sort-keys-available="sortKeysAvailable"
      sort-key="sortKey"
      on-change-sort-key="onChangeSortKey({sortKey: sortKey})">
    </sort-dropdown> -->


    <div class="top-bar__expander"></div>
    <login-control
      auth="auth"
      new-style="true"
      on-show-help-panel="onShowHelpPanel()"
      on-login="onLogin()"
      on-logout="onLogout()">
    </login-control>
  </div>
</div>
  <!-- New design for the top bar, as used in the sidebar.

       The inner div is styled with 'content' to center it in
       the stream view.
  !-->

<div class="top-bar__sidebar" ng-class="frame.visible && 'shown'" ng-cloak ng-if="::isSidebar">
  <div class="top-bar__inner content" ng-if="::isSidebar">
    <img src="images/logo_white_4x.png" height="32" width="32"/> &nbsp; &nbsp;
    <a href="https://www.renoted.com" style="color: white" class="top-bar__inner content">
    <font face="Roboto,Helvetica,Arial,sans-serif" ><strong>ReNoted</strong> </font>
    </a>
    <group-list class="group-list" auth="auth"></group-list>
    <div class="top-bar__expander__sidebar"></div>
    <a class="top-bar__apply-update-btn"
       ng-if="pendingUpdateCount > 0"
       ng-click="onApplyPendingUpdates()"
       h-tooltip
       tooltip-direction="up"
       aria-label="Show {{pendingUpdateCount}} new/updated annotation(s)">
       <svg-icon class="top-bar__apply-icon" name="'refresh'"></svg-icon>
    </a>
    <search-input
      class="search-input"
      query="searchController.query()"
      on-search="searchController.update($query)"
      title="Filter the annotation list">
    </search-input>
    <!--
    <sort-dropdown
      sort-keys-available="sortKeysAvailable"
      sort-key="sortKey"
      on-change-sort-key="onChangeSortKey({sortKey: sortKey})">
    </sort-dropdown>
    -->
    <!--
    <a class="top-bar__btn"
       ng-click="onSharePage()"
       title="Share this page">
      <i class="h-icon-annotation-share"></i>
    </a>
    -->
    <login-control
      class="login-control"
      auth="auth"
      new-style="true"
      on-show-help-panel="onShowHelpPanel()"
      on-login="onLogin()"
      on-logout="onLogout()">
    </login-control>
  </div>
</div>
