<header class="annotation-header" ng-if="!vm.user()">
  <strong>You must be logged in to create annotations.</strong>
</header>

<div ng-keydown="vm.onKeydown($event)" ng-if="vm.user()">
  <header>
    <!-- User -->
    <span ng-if="vm.user()">
      <div class="panel panel-info" style="margin-bottom: 5px">
        <div class="panel-heading">
          <span class="badge" style="font-size: 22px;  background-color: white"> 
            <i class="h-icon-youtube url-header-icon__youtube" ng-show="vm.setTitleIcon() == 'youtube'"></i>
            <i class="h-icon-soundcloud2 url-header-icon__soundcloud" ng-show="vm.setTitleIcon() == 'soundcloud'"></i>
            <i class="h-icon-newspaper url-header-icon__text" ng-show="vm.setTitleIcon() == 'text'"></i>
          </span> &nbsp;
          <a class="url-header__user" target="_blank" ng-href="{{vm.titleLink()}}" ng-show="!vm.showAnnotations"> {{vm.titleText()}} </a>
          <a class="url-header__user" target="_blank" ng-href="{{vm.titleLink()}}" ng-show="vm.showAnnotations"> {{vm.titleTextFull()}}</a>      
          &nbsp; &nbsp;
          <span class="badge" style="background-color: #16a1b3"> {{vm.display()}} </span> / <span class="badge" style="background-color: #16a1b3"> {{vm.total}} </span>

          <div ng-show="vm.showAnnotations" style="padding-top: 5px; font-size: 12px; padding-left: 50px; padding-bottom: 5px">            
            <span ng-show="!vm.onSharedStream">Updated:</span>
            <timestamp
              class-name="'annotation-header__timestamp'"
              timestamp=vm.url.updated
              ng-show="!vm.onSharedStream">
            </timestamp>
            <span ng-show="vm.onSharedStream">From: example@renoted.com</span>
            
            &nbsp; &nbsp;
            <span ng-show="!vm.onSharedStream">Created:</span>
            <timestamp
              class-name="'annotation-header__timestamp'"
              timestamp=vm.url.created
              ng-show="!vm.onSharedStream">
            </timestamp>
            <span ng-show="vm.onSharedStream">Shared On:</span>
            <timestamp
              class-name="'annotation-header__timestamp'"
              timestamp=vm.url.created
              ng-show="vm.onSharedStream">
            </timestamp>

            <div class="url-actions" ng-if="vm.id()" style="padding-right: 7px">
              <button class="btn btn-clean annotation-action-btn" 
                ng-show="vm.showAnnotations && !vm.inSharedView && !vm.onSharedStream"
                ng-click="vm.toggleShareView()"
                aria-label="Share"
                h-tooltip>
              <i class="h-icon-annotation-share btn-icon "></i>
              </button>
              <input type="checkbox" name="vm.url.id" 
                ng-click="vm.toggleSelectAllForSharing()"
                ng-checked="vm.selectedForSharingCount() > 0"
                ng-show="vm.showAnnotations && vm.inSharedView && !vm.onSharedStream"
                class="large-checkbox"
                >

              <button class="btn btn-clean annotation-action-btn"
               ng-click=""
               ng-show="vm.showAnnotations && vm.onSharedStream"
               aria-label="Add to My ReNotes"
               h-tooltip>
                <i class="h-icon-add btn-icon"></i>
              </button>

              <button class="btn btn-clean annotation-action-btn"
               ng-click="vm.expand()"
               ng-show="!vm.showAnnotations"
               aria-label="Expand"
               h-tooltip>
                <i class="h-icon-circle-down btn-icon"></i>
              </button>
              <button class="btn btn-clean annotation-action-btn"
               ng-click="vm.collapse()"
               ng-show="vm.showAnnotations"
               aria-label="Collapse"
               h-tooltip>
                <i class="h-icon-circle-up btn-icon"></i>
              </button>
              <!--
              <button class="btn btn-clean annotation-action-btn align:right"
               ng-click="vm.urledit()"
               ng-show="!vm.isurlediting"
               aria-label="Edit tags"
               h-tooltip>
                <i class="h-icon-annotation-edit"></i>
              </button>
              -->
              <button class="btn btn-clean annotation-action-btn align:right"
                ng-show="!vm.isurlediting"
                ng-click="vm.urldelete()"
                ng-disabled="vm.isurlediting"
                aria-label="Delete"
                h-tooltip>
                  <i class="h-icon-annotation-delete btn-icon "></i>
              </button>
            </div>
          </div>




            <div class="url-actions" ng-if="vm.id()" ng-show="!vm.showAnnotations" style="padding-right: 7px">
              <button class="btn btn-clean annotation-action-btn" 
                ng-show="!vm.showAnnotations && !vm.inSharedView && !vm.onSharedStream"
                ng-click="vm.toggleShareView()"
                aria-label="Share"
                h-tooltip>
              <i class="h-icon-annotation-share btn-icon "></i>
              </button> 
              <input type="checkbox" name="vm.url.id" 
                ng-click="vm.toggleSelectAllForSharing()"
                ng-checked="vm.selectedForSharingCount() > 0"
                ng-show="!vm.showAnnotations && vm.inSharedView && !vm.onSharedStream"
                class="large-checkbox" 
                >

              <button class="btn btn-clean annotation-action-btn"
               ng-click=""
               ng-show="!vm.showAnnotations && vm.onSharedStream"
               aria-label="Add to My ReNotes"
               h-tooltip>
                <i class="h-icon-add btn-icon"></i>
              </button>

              <button class="btn btn-clean annotation-action-btn"
               ng-click="vm.expand()"
               ng-show="!vm.showAnnotations"
               aria-label="Expand"
               h-tooltip>
                <i class="h-icon-circle-down btn-icon"></i>
              </button>

              <button class="btn btn-clean annotation-action-btn"
               ng-click="vm.collapse()"
               ng-show="vm.showAnnotations"
               aria-label="Collapse"
               h-tooltip>
                <i class="h-icon-circle-up btn-icon"></i>
              </button>
              <!--
              <button class="btn btn-clean annotation-action-btn align:right"
               ng-click="vm.urledit()"
               ng-show="!vm.isurlediting"
               aria-label="Edit tags"
               h-tooltip>
                <i class="h-icon-annotation-edit"></i>
              </button>
              -->
              <button class="btn btn-clean annotation-action-btn align:right"
                ng-show="!vm.isurlediting"
                ng-click="vm.urldelete()"
                ng-disabled="vm.isurlediting"
                aria-label="Delete"
                h-tooltip>
                  <i class="h-icon-annotation-delete btn-icon "></i>
              </button>
            </div>

         </div> 
      </div>
      <div class="panel panel-info panel-heading" ng-show="vm.inSharedView" style="border-color: red; padding: 5px 10px 12px 10px">
      
<!--         <p>
        Select Annotations for Sharing
        </p> -->
        
        Selected: &nbsp;
          <span class="badge" style="background-color: red"> {{vm.selectedForSharingCount()}} 
          </span> / 
          <span class="badge" style="background-color: red"> {{vm.total}} </span>
          <span> &nbsp;
        
        annotations to share with: &nbsp;
        <input type="email" name="shareid" ng-model="vm.renotedIdsForSharing" required style="width: 200px; text-align: right; font-weight: bold; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: gray; border-left-color: transparent; border-top-color: transparent; border-right-color: transparent;">
        </span>
        &nbsp; (ReNoted Id only)
        <div class="url-actions" >
        <button class="primary-action-btn primary-action-btn--short align:right"
          ng-click="vm.clickToShare()"
          title="Click to Share">
          Send
        </button>
        <button class="btn btn-clean annotation-action-btn"
          ng-click="vm.cancelShare()"
          title="Cancel sharing">
          <i class="h-icon-cancel-outline publish-annotation-cancel-btn__icon btn-icon" ></i>
        </button>

        </div>
      </div>
    </span>
   </header>     
  <!--
  <br>
  <div class="annotation-body form-field" ng-if="vm.isurlediting">
    <tag-editor tags="vm.state().tags"
                on-edit-tags="vm.setTags(tags)"></tag-editor>
  </div>

  <div class="annotation-body u-layout-row tags tags-read-only" ng-if="!vm.isurlediting">
    <ul class="tag-list">
      <li class="tag-item" ng-repeat="tag in vm.state().tags">
        <a ng-href="{{vm.tagStreamURL(tag)}}" target="_blank">{{tag}}</a>
      </li>
    </ul>
    <div class="u-stretch"></div>
  </div>  
  -->
  <!--
  <div class="annotation-actions" ng-if="vm.id()">
      
      <button class="btn btn-clean annotation-action-btn"
       ng-click="vm.urledit()"
       ng-show="!vm.isurlediting"
       aria-label="Edit tags"
       h-tooltip>
        <i class="h-icon-annotation-edit"></i>
      </button>
      
      <button class="btn btn-clean annotation-action-btn"
        ng-show="!vm.isurlediting"
        ng-click="vm.urldelete()"
        ng-disabled="vm.isurlediting"
        aria-label="Delete"
        h-tooltip>
        <i class="h-icon-annotation-delete btn-icon "></i>
      </button>
   </div>
   <div class="annotation-form-actions" ng-if="vm.isurlediting">
    <button ng-click="vm.save()"
          title="Save Changes"
          class="btn btn-default btn-lg"
          >
    Save
  </button>
  <button class="publish-annotation-cancel-btn btn-clean"
        ng-click="vm.revert()"
        title="Cancel changes to this url"
        >
  <i class="h-icon-cancel-outline publish-annotation-cancel-btn__icon btn-icon"></i> Cancel
</button>  
    </div>
    <span class="annotation-actions" ng-if="vm.id()">
      <button class="btn btn-clean annotation-action-btn"
       ng-click="vm.expand()"
       ng-show="!vm.showAnnotations"
       aria-label="Expand"
       h-tooltip>
        <i class="h-icon-chevron-right">More</i>
      </button>
      <button class="btn btn-clean annotation-action-btn"
       ng-click="vm.collapse()"
       ng-show="vm.showAnnotations"
       aria-label="Collapse"
       h-tooltip>
        <i class="h-icon-chevron-left">Less</i>
      </button>
  </div>
<br>
-->
<section class="annotation-quote-list"   ng-repeat="thread in vm.annotation() track by thread.id">

<renotedannotation ng-class="vm.annotationClasses()"
             annotation="thread"
             name="annotation"
             in-shared-view="vm.inSharedView"
             selected-for-sharing="vm.selectedForSharing"
             on-shared-stream="vm.onSharedStream">
    </renotedannotation>
</section>
<!--
<section class="annotation-quote-list" ng-if="vm.showAnnotations" ng-repeat="thread in vm.List.rows.annotations track by thread.id">

<renotedannotation ng-class="vm.annotationClasses()"
             annotation="thread"
             name="annotation">
    </renotedannotation>
</section>
-->









  <!-- Excerpts -->
  <section class="annotation-quote-list"
    ng-class="{'is-orphan' : vm.isOrphan()}"
    ng-repeat="target in vm.target() track by $index"
    ng-if="vm.hasQuotes()">
    <excerpt collapsed-height="400"
      inline-controls="true"
      overflow-hysteresis="20"
      content-data="selector.exact">
      <blockquote class="annotation-quote"
        ng-bind-html="selector.exact"
        ng-repeat="selector in target.selector
          | filter : {'type': 'TextQuoteSelector'}
          track by $index"></blockquote>
    </excerpt>
  </section>
      
  <!-- / Excerpts -->
  <!-- Body -->
  <section name="text" class="annotation-body">
    <excerpt enabled="!vm.editing()"
      inline-controls="false"
      on-collapsible-changed="vm.setBodyCollapsible(collapsible)"
      collapse="vm.collapseBody"
      collapsed-height="400"
      overflow-hysteresis="20"
      content-data="vm.state().text">
      <markdown text="vm.state().text"
        on-edit-text="vm.setText(text)"
        read-only="!vm.editing()">
      </markdown>
    </excerpt>
  </section>
  <!--
  <section name="starttime" class="annotation-body" ng-if="vm.isVideo()=='success'">
    <excerpt enabled="!vm.editing()"
      inline-controls="false"
      on-collapsible-changed="vm.setBodyCollapsible(collapsible)"
      collapse="vm.collapseBody"
      collapsed-height="10"
      overflow-hysteresis="30"
      content-data="vm.videostarttime()">
      <vidmarkdown text="vm.videostarttime()"
        on-edit-text="vm.setStarttime(text)"
        read-only="!vm.editing()">
      </vidmarkdown>
    </excerpt>
    <excerpt enabled="!vm.editing()"
      inline-controls="false"
      on-collapsible-changed="vm.setBodyCollapsible(collapsible)"
      collapse="vm.collapseBody"
      collapsed-height="10"
      overflow-hysteresis="30"
      content-data="vm.videoendtime()">
      <vidmarkdown text="vm.videoendtime()"
        on-edit-text="vm.setEndtime(text)"
        read-only="!vm.editing()">
      </vidmarkdown>
    </excerpt>
  </section>
  -->
  <!-- / Body -->



  <footer class="annotation-footer">
    <div class="annotation-form-actions" ng-if="vm.editing()">
      <publish-annotation-btn
        class="publish-annotation-btn"
        group="vm.group()"
        can-post="vm.hasContent()"
        is-shared="vm.isShared()"
        on-cancel="vm.revert()"
        on-save="vm.save()"
        on-set-privacy="vm.setPrivacy(level)"></publish-annotation-btn>
    </div>

    <div class="annotation-replies" ng-if="!vm.isReply() && vm.replyCount > 0">
      <a href=""
        ng-click="vm.onReplyCountClick()">
        <span class="annotation-replies__link">{{ vm.isCollapsed ? 'Show replies' : 'Hide replies' }}</span>
        <span class="annotation-replies__count">({{ vm.replyCount }})</span>
      </a>
    </div>

    <div class="annotation-actions" ng-if="vm.isSaving">
      Saving...
    </div>

    <div class="annotation-actions" ng-if="!vm.isSaving && !vm.editing() && vm.id()">
      <div ng-show="vm.isSaving">Saving…</div>
      <button class="btn btn-clean annotation-action-btn"
        ng-show="vm.authorize('update') && !vm.isSaving"
        ng-click="vm.edit()"
        ng-disabled="vm.isDeleted()"
        aria-label="Edit"
        h-tooltip>
        <i class="h-icon-annotation-edit btn-icon "></i>
      </button>
      <button class="btn btn-clean annotation-action-btn"
        ng-show="vm.authorize('delete')"
        ng-click="vm.delete()"
        ng-disabled="vm.isDeleted()"
        aria-label="Delete"
        h-tooltip>
        <i class="h-icon-annotation-delete btn-icon "></i>
      </button>
      <!--
      <button class="btn btn-clean annotation-action-btn"
        ng-click="vm.reply()"
        ng-disabled="vm.isDeleted()"
        aria-label="Reply"
        h-tooltip>
        <i class="h-icon-annotation-reply btn-icon "></i>
      </button>
      <span class="annotation-share-dialog-wrapper">
        <button class="btn btn-clean annotation-action-btn"
          ng-click="vm.showShareDialog = true"
          ng-disabled="vm.isDeleted()"
          aria-label="Share"
          h-tooltip>
          <i class="h-icon-annotation-share btn-icon "></i>
        </button>
        <annotation-share-dialog
          group="vm.group()"
          uri="vm.links().incontext"
          is-private="vm.state().isPrivate"
          is-open="vm.showShareDialog"
          on-close="vm.showShareDialog = false">
        </annotation-share-dialog>
        -->
      </span>
    </div>
  </footer>
</div>
